/vendor/
node_modules/
npm-debug.log
yarn-error.log
*.log

# Laravel specific
.env
.env.*
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
auth.json

Homestead.yaml
Homestead.json
/.vagrant

/public/build
/public/storage
/public/hot
/public_html/storage
/public_html/hot

bootstrap/compiled.php

# Laravel storage
storage/
storage/*.key
/storage/pail

# IDEs and system files
.idea/
.vscode/
*.iml
